@import "tailwindcss";
@theme {
  --breakpoint-xs:300px;
}
.container{
width: 80%;
margin-inline: auto;
}
@layer components{
    .active-link{
    @apply text-violet-300 border-b-2 border-violet-300 transition-all;
    }
    .btn{
        @apply bg-violet-600 px-5 py-3 rounded-2xl font-semibold cursor-pointer text-white hover:bg-violet-900 transition-colors duration-200
    }
}

.swiper-pagination {
    padding-top: 30px !important;
    position: relative !important;
}

.swiper-button-next,.swiper-button-prev{
    background-color: #eee;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transform:translateY(-50%)
}
/* .home {
  background-image: url('/home-background.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */
